/* Estilos específicos del Footer */
.gradient-text-white {
  background: linear-gradient(to right, #38bdf8, #14b8a6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
